@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
body {
  margin: 0;
  font-family: "Raleway", serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   background-image: linear-gradient(to left, rgba(234, 232, 238, 0.788), rgba(248, 247, 250, 0.993)); 
   /* Color de background */
  /* background-image: (rgb(27 20 41)); */
}
